@import "reset";
@import "loader";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
:root {
    --black: #272727;
    --white: #fefefe;
    --grey: #eee;
    --dgrey: #908d8a;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    box-sizing: border-box;
}
/* rem based on 10px sizing  */
html {
    font-size: 62.5%;
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    color: var(--black);
    line-height: 1.5;
    width: 100vw;
}

body {
    font-size: 1.5em;
    line-height: 1.6;
    font-weight: normal;
    font-size: 1.5em;
    line-height: 1.6;
    font-weight: normal;
    display: grid;
    align-items: start;
    justify-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 'header' 'main' 'footer';
}

h1, h2 {
    font-weight: bold;
    margin-bottom: 1rem;
}

h1 {
    font-size: 3.1rem;
    line-height: 1.2;
}

h2 {
    font-size: 3rem;
    line-height: 1.25;
    text-align: center;
}
h3 {
    font-size: 2.5rem;
    line-height: 1.25;
    text-align: center;
    margin-bottom: 2rem;
}
a {
    text-decoration: none;
    color: var(--dgrey);
    line-height: 1.6;
    &:hover {
        color: var(--black);
        text-decoration: underline;
    }
}

p {
    line-height: 1.6;
    margin-bottom: 1.6rem;
    font-weight: 300;
}

img {
    width: 100%;
}


header {
    grid-area: header;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color:var(--grey);
    width: 100%;
    padding: 1rem;
    max-width: 1200px;
    margin-bottom: 2rem;
    img {
        width: 100%;
        max-width: 500px;
    }
}

main {
    display: grid;
    justify-content: center;
    align-items: center;
    position:relative
}

footer {
    grid-area: footer;
    padding: 1rem 2rem 2rem;
    margin-top:4rem;
}

.container {
    width: 900px;
    max-width: 100%;
    margin: auto;
    box-sizing: border-box;

    h2 a {
        color: var(--black);

        &:hover{
            text-decoration:none;
            color: var(--dgrey);
        }
    }
}


.hide {
    display: none;
}
.product-table {
    max-width: 80%;
    margin: 2rem auto;

    .table {
        display: grid;
        grid-template-columns: 1fr 8fr 2fr;
        grid-gap: 0.5rem;

        div {
            background-color: var(--grey);
            padding: .7rem;
            &:hover {
                cursor: pointer;
            }
        }
        .right {
            text-align: right;
        }
    }
    .t-head div {
        background-color: var(--white);
    }
}

.pages {
    width: 80%;
    margin: 2rem auto;
}

.item-detail {
    width: 70%;
    margin: auto;
    text-align: center;
    background-color: var(--white);

    .data {
        border-top: 2px solid var(--grey);
        padding: 2rem;
    }

    .back-btn {
        text-align: left;
        display: inline-block;
        padding: .5rem;
        width: calc(100% - 1rem);
        
        &:hover {
            cursor: pointer;
            color:var(--dgrey);
        }
    }
}
